.root {
    position: relative;
}

.root input:invalid {
    outline: 1px solid var(--border-invalid-color);
}

/* TODO: rename as this includes target browsers, etc */
.categories {
    display: grid;
    gap: 1.5rem; /* 24px */
    margin: 1.5rem 0; /* 24px */
}

/* Horizontal layout */
@media (min-width: 48rem /* 768px */) {
    .categories {
        grid-auto-flow: column;
        max-width: 56.25rem; /* 900px */
    }
}

.poweredBy {
    margin: 1.75rem 0; /* 28px 0 */
}
