.root {
    position: relative;
}

.root input:invalid {
    outline: 1px solid var(--border-invalid-color);
}

.main {
    display: grid;
    gap: 1.5rem; /* 24px */
    margin-top: 1.5rem; /* 24px */
    max-width: 56.25rem; /* 900px */
}

/* TODO: rename as this includes target browsers, etc */
.categories {
    display: grid;
    gap: 1.5rem; /* 24px */
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr)); /* 180px */
}

.button {
    justify-self: left;
}

.poweredBy {
    margin: 1.75rem 0; /* 28px 0 */
}
