/*
 * TYPOGRAPHY
 * =============================================
 */

/*
    Base font size: 10px for easy rem to px conversion.
    Use % so if user increases their default font-size, it doesn’t wipe that out
*/
html {
    font-size: 62.5%;
}

/* use em rather than rem due to IE9–10 rem in font shorthand bug. */
body {
    font: 1.8em/1.4 base, "Source Sans Pro", Verdana, sans-serif;
}

/*	Headings and Captions */

/* only elements get top margin. Semantic classes only get the font/text styles */
h1,
h2,
h3,
h4,
h5,
button,
legend,
.headline,
.heading,
.subheading,
.title,
.subtitle,
.subtitle--alt,
.caption--alt,
.button,
.button--alt,
.scan-heading,
.category,
.rule-list,
.rule-title,
.rule-tile__category,
[class*="-badge"],
.scan-overview,
.docs-button,
.anchor-top,
.feature__cta {
    font-family: "Montserrat", sans-serif;
}


h1,
h2,
.headline,
.heading,
.scan-heading {
    letter-spacing: -.01em;

    position: relative;
    max-width: 64rem;
    z-index: 1;
}

.headline::before,
.heading::before {
    content: "";
    position: absolute;
    left: 0;
    top: -.5rem;
    height: .5rem;
    width: 5rem;
}

h1,
h2,
h3,
h6,
caption,
.headline,
.heading,
.subheading,
.title,
.subcaption {
    font-weight: 300;
    line-height: 1.2;
}

h3,
h4,
.title,
.subtitle,
.subtitle--alt {
    font-weight: 300;
}

h2,
.subheading {
    font-size: 2.6rem;
}

h3,
.title,
.scan-heading {
    font-size: 2rem;
}

h4,
caption,
.subtitle {
    font-size: 1.8rem;
}

@media (min-width: 48em) {

    h2,
    .subheading {
        font-size: 3.4rem;
    }

    h3,
    .title {
        font-size: 2.4rem;
    }

    h4,
    caption,
    .subtitle {
        font-size: 2rem;
    }

}

/* Maximum line lengths */
details,
p,
li {
    max-width: 64rem;
}
