.root {
    background-color: var(--popup-bg);
    border-bottom: var(--border-width) solid var(--border-color);
    box-sizing: border-box;
    display: flex;
    padding: 0.3rem 1rem;
    width: 100%;
}

.hidden {
    display: none;
}

.root button:first-child {
    margin-right: 1rem;
}

@media (max-width: 64rem /* 1024px */) {
    .root {
        flex-direction: column;
    }
}
