.button {
    background-color: var(--button-bg);
    border: none;
    border-radius: var(--rounding);
    color: var(--base-color);
    cursor: pointer;
    font-family: inherit;
    font-size: var(--font-size-sm);
    padding: 0.1875rem 1rem 0.3125rem; /* 3px 16px 5px */
    min-width: 6.25rem; /* 100px */
}

.button:focus {
    outline: var(--focus-outline);
}

.button:global(:not(.focus-visible)) {
    outline: none;
}

.button:hover {
    background-color: var(--button-bg-hover);
}

.primary.button {
    background-color: var(--highlight-bg);
    color: var(--light-color);
}

.primary.button:hover {
    background-color: var(--highlight-bg-hover);
}
