.root {
    background-color: var(--popup-bg);
    border: var(--border-width) solid var(--border-color);
    bottom: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-gap: .7rem 1rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    max-width: 29rem;
    opacity: 0;
    padding: 0.7rem;
    position: fixed;
    right: 1rem;
    transform: translateY(calc(100% + 1rem));
    transition-duration: .3s;
    transition-property: opacity, transform;
    width: 100%;
    z-index: 10;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.close {
    background-color: transparent;
    grid-column: 2;
    height: .75rem;
    margin: .25rem 0 0 0;
    min-width: .75rem;
    padding: 0;
    width: .75rem;
}

.close:hover {
    background-color: transparent;
}

.close:before {
    background-color: var(--base-color);
    content: ' ';
    display: block;
    height: .75rem;
    -webkit-mask: var(--icon-close);
    mask: var(--icon-close);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: .75rem;
}

.content {
    grid-column: 1;
    grid-row: 1;
}

.actions {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 2;
    justify-content: flex-end;
    margin-top: 1rem;
}

.actions > * {
    margin-left: 1rem
}

.actions > *:first-child {
    margin-left: 0;
}

@media (max-width: 30rem /* 480px */) {
    .root {
        bottom: 0;
        max-width: 30rem;
        right: 0;
        width: 100%;
    }
}
