.root {
  cursor: pointer;
  line-height: 1.5rem; /* 24px */
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.root:focus {
  outline: var(--focus-outline);
}

.root:global(:not(.focus-visible)) {
  outline: none;
}
