.message {
    display: block;
    margin: 0;
    padding: 0 0 0 1rem;
    position: relative;
}

.message:before {
    background-color: var(--info-color);
    content: ' ';
    display: block;
    height: .75rem;
    left: 0;
    -webkit-mask: var(--icon-info);
    mask: var(--icon-info);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    position: absolute;
    top: .25rem;
    width: .75rem;
}
