.root {
    background-color: var(--input-bg-color);
    border: var(--border);
    border-radius: var(--rounding);
    color: var(--text-color);
    font-size: var(--input-font-size);
    padding: 0.1875rem 0.75rem 0.3125rem; /* 3px 12px 5px */
}

.root:focus {
    outline: var(--focus-outline);
}
