.root {
    background-color: var(--input-text-bg);
    border: var(--border);
    border-radius: var(--rounding);
    color: var(--base-color);
    font-size: var(--font-size-sm);
    padding: 0.1875rem 0.75rem 0.3125rem; /* 3px 12px 5px */
}

.root:focus {
    outline: var(--focus-outline);
}
