.root {
    margin: 1.5rem 2rem;
}

@media (min-width: 1000px) {
    .root {
        float: left;
        margin-right: 0;
        width: 25%;
    }
}

.header {
    font-weight: normal;
    margin: 0;
}
