@charset "UTF-8";

/* comment */
.selector {
    color: #000;
    font-size: 1rem;
}

@keyframes keyname {
    0% {
        /* keyframe comment */

        width: 0;
        height: 0;
    }
}

.selector1, .selector2 {
    color: #000;
}

@media all and (min-width:29.9385em) {
    @supports (display:flex) {
        .document-head .center .document-actions {
            flex-grow: 9999;
            flex-direction: column;
        }
    }
}
