.button {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.5em 1.5em;
}

.primary.button {
    background-color: var(--bg-inverse-color);
    border: none;
    color: var(--text-inverse-color);
}

.primary.button:disabled {
    background-color: var(--bg-alt-color);
    color: var(--text-color);
}
