.root {
    composes: root from './app.base.css';

    --button-bg: rgba(0, 0, 0, 0.065);
    --button-bg-hover: rgba(0, 0, 0, 0.05);

    --border-color: rgba(12, 12, 13, 0.3);
    --border-alt-color: #cecece;
    --border-invalid-color: #d70022;

    --highlight-bg: #0060df;
    --highlight-bg-active: #002275;
    --highlight-bg-hover: #003eaa;

    --input-bg: rgba(12, 12, 13, 0.1);
    --input-hover-bg: rgba(12, 12, 13, 0.2);
    --input-active-bg: rgba(12, 12, 13, 0.3);
    --input-text-bg: var(--base-bg);

    --link-color: var(--highlight-bg);
    --link-alt-color: #bf49da;

    --status-bg-error: #d83b01;
    --status-bg-pass: #00864b;
    --status-bg-warn: #f2c811;

    --shadow-color: #00000080;
    --scrollbar-shadow: inset 0 0 1px var(--shadow-color);
    --code-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.18), 0px 1.6px 3.6px rgba(0, 0, 0, 0.22);
    --analyze-shadow: 0 4.8px 14.4px rgba(0, 0, 0, 0.18), 0 25.6px 57.6px rgba(0, 0, 0, 0.22);

    /* Category icons */
    --icon-accessibility-url: url(../../images/icon-accessibility.svg);
    --icon-compatibility-url: url(../../images/icon-compatibility.svg);
    --icon-performance-url: url(../../images/icon-performance.svg);
    --icon-pitfalls-url: url(../../images/icon-pitfalls.svg);
    --icon-pwa-url: url(../../images/icon-pwa.svg);
    --icon-security-url: url(../../images/icon-security.svg);

    /* Syntax highlighting colors */
    /* JS */
    --code-boolean-color: #0000ff;
    --code-class-name-color: #267f99;
    --code-comment-color: #008000;
    --code-default-color: #001080;
    --code-function-color: #795e26;
    --code-function-variable-color: #795e26;
    --code-keyword-color: #0000ff;
    --code-operator-color: #000000;
    --code-parameter-color: #001080;
    --code-punctuation-color: #000000;
    --code-number-color: #09885a;
    --code-string-color: #a31515;

    /* html */
    --code-attr-name-color: #ff0000;
    --code-attr-value-color: #0000ff;
    --code-attr-value-punctuation-color: #0000ff;
    --code-doctype-color: #800000;
    --code-entity-color: #0000ff;
    --code-html-default-color: #000000;
    --code-tag-color: #800000;
    --code-tag-punctuation-color: #800000;

    /* CSS */
    --code-atrule-color: #af00db;
    --code-css-default-color: #09885a;
    --code-property-color: #ff0000;
    --code-selector-color: #800000;
    --code-css-string-color: #a31515 ;
    --code-css-function-color: #795e26;

    /* HTTP */
    --code-header-name-color: var(--code-tag-color);
    --code-header-name-font-weight: normal;
    --code-http-default-color: var(--code-attr-name-color);
}

.root[data-theme='dark'] {
    --input-text-bg: rgba(0, 0, 0, 0.3);

    /* JS */
    --code-boolean-color: #ff7dE9;
    --code-class-name-color: #4ec9b0;
    --code-comment-color: #608b4e;
    --code-default-color: #86de74;
    --code-function-color: #86de74 ;
    --code-function-variable-color: #75bfff;
    --code-keyword-color: #ff7dE9;
    --code-operator-color: #b1b1b3;
    --code-parameter-color: #75bfff;
    --code-punctuation-color: #d7d7db;
    --code-number-color: #6b89ff ;
    --code-string-color: #6b89ff;

    /* HTML */
    --code-attr-name-color: #ff7dE9;
    --code-attr-value-color: #b98eff;
    --code-attr-value-punctuation-color: #b1b1b3;
    --code-doctype-color: #b1b1b3;
    --code-doctype-font-style: italic;
    --code-entity-color: #75bfff;
    --code-html-default-color: #d4d4d4;
    --code-tag-color: #75bfff;
    --code-tag-punctuation-color: #b1b1b3;

    /* CSS */
    --code-atrule-color: #75bfff;
    --code-css-default-color: #6b89ff;
    --code-property-color: #86de74;
    --code-selector-color: #75bfff ;
    --code-css-string-color: #6b89ff ;
    --code-css-function-color: #ff7dE9;
}
