.root {
    /* Colors */

    --base-bg: #fff;
    --base-color: #000;

    --code-bg: var(--base-bg);

    --dark-color: #000;
    --light-color: #fff;

    --example-color: #737373;

    /* Fonts */

    --bold: 600;
    --font-family: "Segoe UI", Tahoma, sans-serif;

    /* Sizes */

    --border-width: 1px;

    --font-size: 0.875rem; /* 14px */
    --font-size-sm: 0.75rem; /* 12px */
    --font-size-xs: 0.625rem; /* 10px */

    --input-size: 1rem; /* 16px */
    --rounding: 0.125rem; /* 2px */

    /* Styles */
    --border: var(--border-width) solid var(--border-color);
    --focus-outline: 2px solid var(--base-color);
}

.root[data-theme='dark'] {
    --base-bg: #252525;
    --base-color: #fff;

    --code-bg: #2d2d2d;

    --button-bg: rgba(255, 255, 255, 0.08);
    --button-bg-hover: rgba(255, 255, 255, 0.065);

    --border-color: rgba(255, 255, 255, 0.25);

    --example-color: #fff;

    --link-color: #67b5ef;
    --link-alt-color: #ce9178;

    --shadow-color: #ffffff80;
}

.root {
    background-color: var(--base-bg);
    color: var(--base-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    overflow-y: scroll;
    padding: 0 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-user-select: none;
    user-select: none;
}

/*
 * Dark scrollbar styles for Firefox.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
 */
.root[data-theme='dark'] {
    scrollbar-color: #737373 #3c3c3d;
}

/*
 * Dark scrollbar styles for Chrome.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
 */
.root[data-theme='dark']::-webkit-scrollbar {
    height: 0.875rem;
    width: 0.875rem;
}
.root[data-theme='dark']::-webkit-scrollbar-corner {
    background-color: var(--base-bg);
}
.root[data-theme='dark']::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background-color: var(--button-bg);
    box-shadow: inset 0 0 1px var(--shadow-color);
}
.root[data-theme='dark']::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px var(--shadow-color);
}
