.root {
    border-bottom: 1px solid var(--border-alt-color);
    margin-top: 0.75rem; /* 12px */
}

.root:first-child {
    margin-top: 0;
}

.summary {
    background-color: var(--bg-color);
    line-height: 1.75rem; /* 28px */
    padding: 0;
}

.name {
    font-weight: bold;
}

.results {
    padding-left: 1rem; /* 16px */
    margin-bottom: 1.25rem; /* 20px */
}
