.root {
    background-color: var(--bg-color);
    padding: 1rem 0 2.25rem;
}

.headerText {
    font-size: 0.875rem;
    margin: 0.5rem 0 0;
    width: 100%;
    word-break: break-word;
}

.title {
    font-weight: var(--bold);
    margin: 0;
}

.actions {
    display: grid;
    gap: 0.5rem; /* 8px */
    grid-template-columns: auto auto 1fr;
    margin-top: 1.5rem; /* 24px */
}

.showPassedHints {
    text-align: right;
}
