.root {
    background-color: var(--base-bg);
    padding: 1rem 0 2.25rem;
}

.top {
    align-items: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr auto;
}

.headerText {
    font-size: 0.875rem;
    margin: 0.5rem 0 0;
    overflow-wrap: break-word;
    width: 100%;
}

.title {
    font-weight: var(--bold);
    margin: 0;
}

.actions {
    display: grid;
    gap: 0.5rem; /* 8px */
    margin-top: 1.5rem; /* 24px */
    justify-content: space-between;
    grid-auto-flow: column;
}

.resultHeader {
    text-align: center;
}

.showPassedHints {
    text-align: right;
}

.showPassedHintsLabel {
    margin-bottom: 0.125rem;
}
