.results {
    display: grid;
    font-size: var(--font-size-sm);
    gap: 0.5rem; /* 8px */
    justify-items: start;
    padding-left: 1rem; /* 16px */
}

.summary {
    box-sizing: border-box;
    display: inline-block;
    font-size: var(--font-size-sm);
    font-weight: bold;
    line-height: 1.25rem; /* 20px */
    padding: 0 0.5rem; /* 0 8px */
    text-align: center;
    white-space: nowrap;
}

