@import url('./views/pages/results.css');

html {
    --bg-color: #fff;
    --bg-alt-color: #f2f2f2;
    --bg-inverse-color: #4046dd;
    --bg-inverse-alt-color: #999;
    --border-alt-color: #d7d7d7;
    --link-color: #4700a3;
    --text-highlight-color: #4046dd;
    --text-inverse-color: #fff;
    --text-passed-color: rgb(0, 134, 75);
}

body {
    background-color: var(--bg-color);
    font-family: "Segoe UI", Tahoma, sans-serif; /* Match default overrides in Chrome */
    font-size: 75%; /* Match default overrides in Chrome */
    margin: 0;
}

a[href] {
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}

.analyze {
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
}

.analyze__help {
    width: 100%;
}

.analyze__title {
    font-weight: normal;
    margin: 0;
}

.analyze__actions {
    text-align: right;
    width: 100%;
}

.analyze__button {
    background-color: var(--bg-inverse-color);
    border: none;
    border-radius: 3px;
    color: var(--text-inverse-color);
    padding: 0.5em 2em;
}
