@import url('./views/pages/analyze.css');
@import url('./views/pages/configuration.css');
@import url('./views/pages/results.css');

html {
    --bg-color: #fff;
    --bg-alt-color: #f2f2f2;
    --bg-inverse-color: #4046dd;
    --bg-inverse-alt-color: #999;
    --border-alt-color: #d7d7d7;
    --link-color: #4700a3;
    --text-highlight-color: #4046dd;
    --text-inverse-color: #fff;
    --text-passed-color: rgb(0, 134, 75);
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, sans-serif; /* Match default overrides in Chrome */
    font-size: 75%; /* Match default overrides in Chrome */
    margin: 0;
}

a[href] {
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}
