.header {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    padding: 1rem;
}

.header__help {
    flex: auto;
    margin: 0 1rem;
    width: 100%;
}

.header__actions {
    margin: 0 1rem;
}

.header__analyze-button {
    min-width: 10.5em;
    white-space: nowrap;
}

.header__powered-by {
    white-space: nowrap;
}
