.hint {
    margin: 1rem 0;
}

.hint__summary {
    cursor: pointer;
    line-height: 2em;
    padding: 0 1rem;
}

.hint__results {
    padding: 0 2rem;
}

.hint__status--passed {
    color: var(--text-passed-color);
}
