.page {
    height: 100%;
}

.page__header {
    background-color: var(--bg-inverse-alt-color);
    color: var(--text-inverse-color);
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.75em;
    margin: 0;
    padding: 0 2rem;
}

.page__button {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.5em 1.5em;
}

.page__button--primary {
    background-color: var(--bg-inverse-color);
    border: none;
    color: var(--text-inverse-color);
}

.page__button--primary:disabled {
    background-color: var(--bg-alt-color);
    color: var(--text-color);
}
