.problem {
    margin: 1rem 0;
}

.problem__number {
    color: var(--text-highlight-color);
}

.problem__code,
.problem__code.hljs {
    background-color: var(--bg-alt-color);
    font-size: 0.7rem;
    padding: 1rem;
    white-space: pre-wrap;
}
