version: 1
update_configs:
  - package_manager: "javascript"
    directory: "/"
    update_schedule: "live"
    automerged_updates:
      - match:
          dependency_type: "development"
          update_type: "all"
      - match:
          dependency_type: "production"
          update_type: "all"
    ignored_updates:
      - match:
          dependency_name: "angular"
      - match:
          dependency_name: "jquery"
      - match:
          dependency_name: "@types/node"
          version_requirement: "^10.12.18"
      - match:
          dependency_name: "mime-db"
          version_requirement: "^1.35.0"
      - match:
          dependency_name: "proxyquire"
          version_requirement: "^2.0.0"
    version_requirement_updates: "auto"
