.analyze {
    composes: page from '../partials/page.css';
    background-color: var(--bg-alt-color);
}

.header {
    composes: header from '../partials/page.css';
}

.image {
    max-width: 25rem;
}

.message {
    margin-top: -0.5rem;
}

.status {
    padding: 2em;
    text-align: center;
}

.cancelButton {
    composes: primaryButton from '../partials/page.css';
}
