.configuration {
    background-color: var(--bg-alt-color);
    position: relative;
}

.configuration__section {
    margin: 1.5rem 2rem;
}

@media (min-width: 1000px) {
    .configuration__section {
        float: left;
        margin-right: 0;
        width: 25%;
    }
}

.configuration__header {
    font-weight: normal;
    margin: 0;
}

.configuration__label {
    display: block;
    margin: 0.75rem 1.25rem;
}

.configuration__example {
    color: var(--text-highlight-color);
    font-size: 0.85em;
    margin-left: 1.5rem;
}

.configuration__restore-button {
    position: absolute;
    right: 2rem;
    top: 3rem;
}
