@import url('../partials/category.css');

.results__header {
    background-color: var(--bg-inverse-alt-color);
    color: var(--text-inverse-color);
    font-weight: normal;
    margin: 0;
    padding: 0 2rem;
}

.results__status {
    background-color: var(--bg-alt-color);
}
