@supports ( display: flex) {
    .content {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.content {
    background-color: #777;
    color: #000;
    height: 100%;
    width: 100%;
}

p {
    margin: 0;
}
