.example1 {
    accent-color: red;
}

.example2 {
   padding-left: 10%;
}

.example2 {
    appearance: textfield;
 }

 @keyframes test {
    50% {
        accent-color: blue;
        padding-left: 16%;
    }

    test {
        not valid:{}
    }

    75% {
        appearance: textfield;
    }
}
