body {
    font-size: 13px;
    letter-spacing: 0.5px;

    p {
        font-size: 17px;
        line-height: 1;
    }
}

.example-class {
    line-height: 14px;
    font-size: 1.5em;

    .example-class2 {
        line-height: 2em;
    }
}
